@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', system-ui;
    color: rgb(36, 62, 99);
}
/*
html {
    scroll-behavior: smooth;
}
*/

body {
    max-width: 100vw;
    overflow-x: hidden;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    padding: 96px 0;
}

.purple {
    color: #6415ff;
}

section {
    padding: 0 32px;
}

main {
    margin-bottom: 96px;
}

h1 {
    font-size: 48px;
    color: #1a202c;
    line-height: 1.25;
}

a {
    display: inline;
    text-decoration: none;
}

button {
    cursor: pointer;
    border-width: medium;
    border-style: none;
}

button:hover {
    background-color: #4511ad;
}

.p {
    font-size: 18px;
    line-height: 1.5;
}

.section__title {
    font-size: 48px;
    font-weight: 900;
    color: rgb(36, 62, 99);
    line-height: 1.5;
    margin: 16px 0px;
    letter-spacing: 0.025em;
}

.section__para {
    color: #7c8ba1;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.625;
}

/*

NAV BAR 

*/

nav {
    display: flex;
    padding-top: 32px;
}

.nav__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    display: flex;
    align-items: center;
    padding-bottom: 4px;
    margin: 8px 0;
}

.nav__logo--img {
    height: 40px;
    width: 40px;
}

.nav__logo--title {
    font-weight: 900;
    font-size: 24px;
    margin-left: 12px;
    padding-bottom: 2px;
    letter-spacing: 0.6px;
}

.nav__link ul {
    display: flex;
}

li {
    list-style-type: none;
}

.nav__links {
    display: flex;
    align-items: center;
    padding-bottom: 2px;
    color: #243E63;
}

.nav__link {
    font-size: 14px;
    font-weight: 600;
    padding-top: 4px;
    letter-spacing: 0.35px;
    position: relative;
    border-bottom: 2px solid transparent;
    transition: all 300ms ease;
    margin: 0px 24px;
}

.nav__link--primary {
    color: rgb(255, 255, 255);
    background-color: rgb(100, 21, 255);
    line-height: 1.5;
    margin-top: 2px;
    padding: 10px 32px;
    border-radius: 9999px;
    border:none;
}

.nav__link--primary:hover {
    background-color: #4511ad;
}

.btn__menu {
    background-color: transparent;
    text-align: center;
    border: none;
    color: #1A202C;
    transition: all 300ms ease;
    display: none;
}

.menu__backdrop {
    position: fixed;
    top: 16px;
    right: 16px;
    width: 300px;
    max-width: calc(100vw - 32px);
    height: 378px;
    padding: 32px;
    background-color: #FFFFFF;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 8px;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
    transition: all 300ms ease;
}

.menu--open .menu__backdrop {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.menu--open {
    max-height: 100vh;
    overflow-y: hidden;
}

.menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__list {
    margin: 8px 0;
    padding-bottom: 4px;
}

.menu__link {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    border-bottom: 2px solid transparent;
}

.menu__link--primary {
    color: rgb(255, 255, 255);
    background-color: rgb(100, 21, 255);
    line-height: 1.5;
    margin-top: 2px;
    padding: 10px 32px;
    border-radius: 9999px;
    border:none;
}

.btn__menu--close {
    position: absolute;
    top: 24px;
    right: 18px;
    padding: 8px;
}

.btn__menu i:hover {
    filter: invert(26%) sepia(94%) saturate(7476%) hue-rotate(261deg) brightness(94%) contrast(115%);
}

/*

LANDING PAGE

*/

header .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__description {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.header__description--para {
    margin: 32px 0;
}

.header__email {
    width: 100%;
    max-width: 448px;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__email--input {
    width: 100%;
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 192px 20px 32px;
    color: rgb(36, 62, 99);
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.header__email--btn {
    z-index: 2; 
    margin: 8px;
    height: calc(100% - 16px);
    border-radius: 500px;
    width: 160px;
    border: none;
    background-color: #6415ff;
    color: white;
    font-weight: 700;
    font-size: 16px;
    transition: all 300ms ease;
}

.header__customers--title {
    margin: 48px 0 0;
    font-weight: 700;
    font-size: 12px;
    color: #A0AEC0;
}

.header__customers {
    margin-top: 16px;
    padding-right: 128px;
    opacity: 0.5;
}

.header__img--wrapper {
    width: calc(100% - 40%);
}

.header__img {
    width: 100%;
}

/*

FEATURES - SERVICES

*/

.container__features {
    padding: 80px 0;
}

.row__features {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__header {
    font-size: 16px;
    color:#6415ff
}

#features .section__title {
    margin: 16px 0px;
    text-align: center;
}

#features .section__para {
    text-align: center;
    max-width: 576px;
    margin: 0 auto;
}

#features .section__title, #pricing .section__title {
    text-align: center;
}

.services {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
}

.service {
    width: calc(100% / 3);
    display: flex;
    align-items: flex-start;
    padding: 32px 24px;
}

.service__img--wrapper {
    width: 66px;
    height: 66px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid #e5e7eb;
    border-radius: 50%;
}

.service__icon {
    width: 24px;
    height: 24px;
}

.service__description {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    margin-left: 16px;
}

.service__title {
    font-size: 24px;
}

.service__para {
    font-size: 16px;
    margin: 16px 0px 0px;
    color: rgb(124, 139, 161);
}

/*

QUALITY WORK

*/

#quality .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    width: 150px;
    background-color: #6415ff;
    color: #fff;
    margin-top: 32px;
    padding: 12px 32px;
    border: none;
    border-radius: 500px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: all 300ms ease;
}

.btn:hover {
    background-color: #4511ad;
}

.quality__description, .quality__img--wrapper {
    width: 50%;
}

.quality__description {
    max-width: 576px;
    margin-right: 64px;
    display: flex;
    flex-direction: column;
}

#quality .section__para {
    color: #7c8ba1;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    line-height: 1.625;
    max-width: 576px;
}

.quality__img {
    width: 100%;
}

/*

STEPS

*/

#steps .row, #values .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.steps__description, .steps__img--wrapper {
    width: 50%;
}

.steps__img--wrapper {
    display: flex;
    position: relative;
}

.steps__img {
    width: 100%;
}

.steps__list {
    display: flex;
    flex-direction: column;
}

.step {
    display: flex; 
    align-items: flex-start;
    margin-top: 32px;
}

.step__no {
    color: #cbd5e0;
    font-size: 32px;
    font-weight: 600;
    line-height: 1;
}

.steps__description {
    padding: 32px 0;
    margin-left: 64px;
}

.step__description {
    display: flex; 
    flex-direction: column;
    margin-left: 24px;
    max-width: 320px;
}

.step__title {
    font-weight: 600;
    font-size: 20px;
    color: #243e63;
    line-height: 1;
}

.step__para {
    margin-top: 12px;
    font-size: 14px;
    color: #718096;
    font-weight: 500;
    line-height: 2;
}

/*

VALUES

*/

.values__description, .values__img {
    width: 50%;
}

.values__img {
    width: 100%
}

.values__description {
    padding: 32px 64px 32px 0;
}

.values__list, .value__title {
    display: flex;
    flex-direction: row;
}

.value {
    margin-top: 32px;
    margin-right: 32px;
}

.value__title {
    display: flex;
    align-items: center;
}

.value:nth-child(1) .value__img--wrapper {
    background-color: #9ae6b4;
}

.value:nth-child(2) .value__img--wrapper {
    background-color: #feb2b2;
}

.value__img--wrapper {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
}

.value__img {
    width: 20px;
    height: 20px;
}

.value__name {
    margin-left: 12px;
    font-size: 20px;
    font-weight: bold;
    color: #243e63;
}

.value__para {
    margin-top: 16px;
    color: #718096;
    line-height: 1.625;
}



/*

PLAN-PRICING

*/

.plans {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: space-between;
   width: 100%;
}

.plan {
    position: relative;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: calc(100%/3);
    max-width: 24rem;
    border-radius: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
    color: rgb(26 32 44);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.plan:nth-child(1) .plan__stripe, .plan:nth-child(1) .plan__button {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.plan__stripe {
    position: absolute;
    left: 0px; 
    right: 0px;
    top: 0px;
    height: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.plan__top {
    display: flex;
    flex-direction: column;
    padding-top: 32px;
    padding-bottom: 32px;
    line-height: 1.625
}

.plan__name, .plan__price, .plan__duration {
    font-weight: bold;
    line-height: 1.625;
}

.plan__name {
    font-size: 20px;
}

.plan__price {
    font-size: 48px;
    margin: 4px 0;
}

.plan__duration {
    font-size: 16px;
    letter-spacing: 0.1em;
}

.plan:nth-child(odd) .plan__duration {
    color: #a0aec0;
}

.plan:nth-child(1) .plan__middle, .plan:nth-child(3) .plan__middle {
    border-top: 2px solid rgb(229, 231, 235);
    border-bottom: 2px solid rgb(229, 231, 235);
}

.plan__middle {
    margin-left: -32px;
    margin-right: -32px;
    display: flex;
    flex-direction: column;
    border-top-width: 2px;
    border-bottom-width: 2px;
    padding: 32px;
}

.plan:nth-child(odd) .plan__name, .plan:nth-child(odd) .plan__price, .plan:nth-child(odd) .plan__target {
    color: #1a202c;
}

.plan__target {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.025em;
}

.plan__feature {
    margin-top: 20px;
    font-weight: 500;
    color: #718096;
    font-size: 16px;
    line-height: 1.5;
}

.plan__bottom {
    padding: 2rem 1rem;
}

.plan__button {
    border-radius: 0.25rem;
    padding: 0.75rem 2rem;
    font-weight: 700;
    color: rgb(247 250 252);
    transition: all 300ms ease;
    width: 100%;
    border-radius: 9999px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 0.875rem;
    letter-spacing: 0.05em;
}

.plan__button:hover {
    transform: translate(1px, -1px);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.plan:nth-child(2) {
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.plan:nth-child(2) .plan__name, .plan:nth-child(2) .plan__price, .plan:nth-child(2) .plan__target, .plan:nth-child(2) .plan__duration, .plan:nth-child(2) .plan__feature {
    color: #f7fafc;
}

.plan:nth-child(2) .plan__middle {
    border-top: 2px solid rgb(102, 126, 234);
    border-bottom: 2px solid rgb(102, 126, 234);
}

.plan:nth-child(2) .plan__button {
    color: #6415ff;
    background-color: #f7fafc;
}

.plan:nth-child(3) .plan__stripe, .plan:nth-child(3) .plan__button {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

/*

TESTIMONIALS

*/

#testimonials .row {
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.testimonials__img, .testimonials__description {
    width: 50%;
}

.testimonials__img--wrapper, .testimonials__img--wrapper img {
    width: 100%;
}

.testimonials__description {
    margin-left: 64px;
    display: flex;
    flex-direction: column;
}

.testimonial {
    margin-top: 40px;
}

.testimonial__rating {
    margin-right: 2px;
    margin-top: 4px;
}

.fa-star {
    color: rgba(246, 173, 85);
}

.testimonial__title {
    color: #4a5568;
    line-height: 1.625;
    margin-top: 16px;
    font-size: 1.25rem;
    font-weight: 700;
}

.testimonial__para {
    margin-top: 1rem;
    margin-bottom: 2rem;
    line-height: 1.625;
    font-weight: 500;
    font-size: 16px;
    color: rgb(74 85 104);
}

.testimonial__bottom {
    display: flex;
    justify-content: space-between;
}

.testimonial__profile {
    display: flex;
    align-items: center;
}

.testimonial__img {
    width: 80px;
    height:80px;
    border-radius: 50%;
}

.testimonial__details {
    margin-left: 24px;
}

.testimonial__name {
    line-height: 1.625;
    font-weight: 700;
    font-size: 1.25rem;
    color: rgb(74 85 104);
}

.testimonial__role {
    color: #7c8ba1;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}

.testimonial__buttons {
    display: flex;
    align-items: center;
}

.testimonial__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    border-radius: 50%;
    background: #edf2f7;
    margin: 0 12px;
}

.testimonial__btn:hover {
    background-color: rgb(229, 231, 235);
}

/*

CTA GET STARTED BANNER

*/
#start .row {
    position: relative;
    overflow: hidden;
}

.start__container{
    padding: 96px 0;
    width: 100%;
    background-color: rgb(100, 21, 255);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start__row {
    width: 100%;
    margin: 0 auto;
    max-width: 1024px;
    padding: 0 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start__title, .start__buttons {
    width: 50%;
}

.start__title {
    color: #f7fafc;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
}

.start__buttons {
    display: flex;
    justify-content: flex-end;
}

.start__button {
    padding: 20px 40px;
    border-radius: 500px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.025;
    margin: 1px;
}

.start__button:nth-child(1) {
    background: #f56565;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    margin-right: 32px;
    transition: all 300ms ease;
}

.start__button:hover:nth-child(1) {
    background-color: rgba(229, 62, 62);
}

.start__button:nth-child(2) {
    border: 1px solid rgb(160, 174, 192);
    transition: all 300ms ease;
}

.start__button:hover:nth-child(2) {
    background-color: rgba(247, 250, 252);
    color: rgba(100, 21, 255);
}

/*

FOOTER

*/

footer {
    padding: 96px 32px;
    background-color: rgb(100, 21, 255);
    margin-bottom: -32px;
    position: relative;
    overflow: hidden;
}

.footer__row {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.footer__columns {
    margin-top: -48px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__column {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 2;
}

.footer__column--title {
    color: #f7fafc;
    font-weight: 700;
    line-height: 1.5;
}

.footer__column--link {
    font-size: 14px;
    margin-top: 12px;
    line-height: 1.5;
    font-weight: 500;
    position: relative;
    cursor: pointer;
}

.footer__column--link a {
    color: #f7fafc;
    position: relative;
    display: inline-block;
}

.footer__column--link a:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    height: 2px;
    width: 100%;
    background: #fff;
    transition: all 300ms ease;
    opacity: 0;
}

.footer__column--link a:hover:after { 
    opacity: 1;
}

.footer__column--link:nth-child(2) {
    margin-top: 24px;
}

.footer__divider {
    width: 100%;
    height: 2px;
    margin: 64px 0;
    background: rgb(116, 44, 255);
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo {
    display: flex;
    align-items: center;
}

.footer__logo--img {
    height: 32px;
    width: 32px;
}

.footer__logo--text {
    font-size: 20px;
    color: #f7fafc;
    font-weight: 900;
    margin-left: 8px;
    letter-spacing: 0.05em;
}

.footer__copyright {
    color: #cbd5e0;
    font-weight: 500;
}

.footer__socials {
    display: flex;
    align-items: center;
    margin-left: 16px;
}

.footer__social--link {
    width: 40px;
    height: 40px;
    margin-left: 16px;
    padding: 8px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: rgb(247, 250, 252);
    transition: 300ms;
}

.footer__social--link:hover {
    background-color: rgb(203, 213, 224);
}

.footer__social--svg {
    height: 16px;
    width: 16px;
}

/*

RESPONSIVE DESIGN

*/

@media (max-width: 1280px) {
    h1 {
        font-size: 36px;
    }
    
    img {
        width: 100%;
    }
    
    header .row {
        align-items: flex-end;
    }

    .header__description--para {
        font-size: 16px;
    }

    .header__email {
        width: 100%;
    }

    .header__customers {
        padding-right: 64px;
    }

    .plan__bottom {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .testimonials__description {
        width: calc(100% - 40%)
    }
    
    footer {
        padding: 80px 32px;
    }
}

@media (max-width: 1024px) {
    h1 {
        font-size: 30px;
    }

    .nav__links {
        display: none;
    } 

    .btn__menu {
        display: block;
    }

    header .row {
        flex-direction: column;
        align-items: center;
    }

    .header__customers--title, .header__img--wrapper {
        margin-top: 48px;
    }

    .header__description, .header__img--wrapper {
        width: 100%; 
        max-width: 512px;
        margin: 0 auto;
    }

    .header__description--para {
        margin: 20px 0;
    }

    .header__description {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header__customers {
        padding-right: 0;
    }  

    #features .section__title, #pricing .section__title {
        font-size: 48px;
    }

    .section__para {
        font-size: 16px;
    }

    .services {
        max-width: 768px;
    }

    .service {
        width: calc(50%);
    }

    .quality__description {
        margin-right: 0;
        padding-right: 48px;
    }

    .values__list {
        max-width: 20rem;
        flex-direction:column;
    }

    .plans {
        flex-direction: column;
        align-items: center;
    }

    .plan {
        margin-right: 0px;
    }

    .testimonials__description {
        padding-left: 48px;
    }
    .start__row {
        flex-direction: column;
    }

    .start__title {
        text-align: center;
        width: 100%;
        max-width: 512px;
    }

    .start__buttons {
        width: auto;
        margin-top: 24px;
    }

    .start__button {
        padding: 16px 32px;
    }
}

@media (max-width:768px) {
    .row {
        flex-wrap: wrap;
    }

    #quality .row, #values .row {
        flex-direction: column-reverse;
    }

    #steps .row, #testimonials .row {
        flex-direction: column;
    }

    .quality__description, .quality__img--wrapper, .steps__description, .steps__img--wrapper, .values__description, .values__img, .testimonials__description, .testimonials__img {
        width: 100%;
        max-width: 448px;
    }

    .quality__description, .steps__description, .values__description, .testimonials__description {
        padding: 0;
        margin-top: 64px;
        text-align: center;
        align-items: center;
    }

    #quality .section__para, #values .section__para {
        text-align: center;
    }

    .section__title {
        font-size: 36px;
    }

    .section__para {
        font-size: 14px;
        text-align: center;
    }

    .services {
        justify-content: center;
    }

    .service {
        width: auto;
        max-width: 384px;
    }

    .steps__description {
        margin-left: 0;
    }

    .step {
        flex-direction: column;
        align-items: center;
    }

    .values__list {
        margin-left: auto;
        margin-right: auto;
    }

    .value {
        margin-right: 0px;
        align-items: center;
    }

    .value__title {
        justify-content: center;
    }

    .testimonials__description {
        padding-left: 0;
        margin-left: 0;
    }

}

@media (max-width: 640px) {
    .container {
        padding: 80px 0;
    }
    
    .header__email {
        flex-direction: column;
        height: auto;
    }

    .header__email--input {
        position: static;
        padding: 16px 0;
        padding-left: 32px;
        line-height: 1.5;
    }

    .header__email--btn {
        width: 100%;
        padding: 16px 0;
        margin: 16px 0 0;
        margin-bottom: 0;
        line-height: 1.5;
    }

    .section__title {
        line-height: 1.25;
        font-size: 30px;
    }

    #features .section__title, #pricing .section__title {
        font-size: 36px;
    }

    .section__para {
        font-size: 14px;
    }

    .service {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

     .btn {
        line-height: 1.5;
    }

    .steps__list {
        margin-top: 48px;
    }

    .plan__price {
        font-size: 36px;
    }

    .plan__bottom {
        padding: 2rem 1rem;
    }

    .testimonial__para {
        margin-bottom: 32px;
    }

    .testimonial__bottom {
        flex-direction: column;
        align-items: center;
        padding-top: 4px;
    }

    .testimonial__profile {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .testimonial__details {
        margin-left: 0;
        margin-top: 8px;
        text-align: center;
    }

    .testimonial__buttons {
        margin-top: 32px;
    }

    .start__title {
        font-size: 24px;
    }

    .start__buttons {
        flex-direction: column;
        align-items: center;
        justify-content: center; 
    }

    .start__button {
        padding: 12px 24px;
        font-size: 14px;
        margin: 8px 0;
    }

    .btn {
        line-height: 1.5;
    }

    .start__button:nth-child(1) {
        margin-right: 0px;
    }
