@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', system-ui;
    color: rgb(36, 62, 99);
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.purple {
    color: #6415ff;
}

section {
    padding: 0 32px;
}

main {
    margin-bottom: 96px;
}

a {
    display: inline;
    text-decoration: none;
}

button {
    cursor: pointer;
    border-width: medium;
    border-style: none;
}

/*

NAV BAR 

*/

nav {
    display: flex;
    padding-top: 32px;
}

.nav__row {
    display: flex;
    justify-content: space-between;
}

.nav__logo {
    display: flex;
    align-items: center;
    padding-bottom: 4px;
    margin: 8px 0;
}

.nav__logo--img {
    height: 40px;
    width: 40px;
}

.nav__logo--title {
    font-weight: 900;
    font-size: 24px;
    margin-left: 12px;
    padding-bottom: 2px;
    letter-spacing: 0.6px;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

.nav__links {
    display: flex;
    align-items: center;
    padding-bottom: 2px;
    color: #243E63;
}

.nav__link {
    font-size: 14px;
    font-weight: 600;
    padding-top: 4px;
    letter-spacing: 0.35px;
    position: relative;
    border-bottom: 2px solid transparent;
    transition: all 300ms ease;
    margin: 0px 24px;
}

.nav__link--primary {
    color: rgb(255, 255, 255);
    background-color: rgb(100, 21, 255);
    line-height: 1.5;
    margin-top: 2px;
    padding: 10px 32px;
    border-radius: 9999px;
    border:none;
}

.btn__menu {
    background-color: transparent;
    text-align: center;
    border: none;
    color: #1A202C;
    transition: all 300ms ease;
    display: none;
}

.menu__backdrop {
    position: fixed;
    top: 16px;
    right: 16px;
    width: 300px;
    max-width: calc(100vw-32px);
    height: 378px;
    padding: 32px;
    background-color: #FFFFFF;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 8px;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
    transition: all 300ms ease;
}

.menu--open .menu__backdrop {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.menu--open {
    max-height: 100vh;
    overflow-y: hidden;
}

.menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__list {
    margin: 8px 0;
    padding-bottom: 4px;
}

.menu__link {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    border-bottom: 2px solid transparent;
}

.menu__link--primary {
    color: rgb(255, 255, 255);
    background-color: rgb(100, 21, 255);
    line-height: 1.5;
    margin-top: 2px;
    padding: 10px 32px;
    border-radius: 9999px;
    border:none;
}

.btn__menu--close {
    position: absolute;
    top: 24px;
    right: 18px;
    padding: 8px;
}

/*

LANDING PAGE

*/

.header__description {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.header__img {
    width: 60%;
}


/*

RESPONSIVE DESIGN

*/

@media (max-width: 1280px) {
    
}

@media (max-width: 1024px) {
    .nav__links {
        display: none;
    } 

    .btn__menu {
        display: block;
    }
}

@media (max-width:768px) {
    .row {
        flex-wrap: wrap;
    }
}
